#mainContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body{
  display:flex;
  flex-direction: column;
  font-size: 10px;
}
.moduleContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(235, 235, 235);
}
.slide{
  width: 100%;
  height: 150px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 5px;
  margin:10px;
  font-family: "Courier";
}
.infoBtn.selectedBtn{
  color:rgb(255, 142, 142);
  background-color: whitesmoke;
  border-radius: 20px;
  border-bottom: 1px solid grey;
  border-right:1px solid grey;
  font-weight: bold;
  text-align: center;
}
.slideImg{
  border-radius: 50px;
  max-width:60px;
    height:auto;
}
.slideName{
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}
#sliderContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:90%;
  /* overflow:hidden; */
}
.buttonContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 50px;
}
.infoBtn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:0 10px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  text-align: center;
  color: rgb(197, 197, 197);
}
.toggleBtn{
  
    align-self:flex-start;
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: black;
   
      width: 0; 
      height: 0; 

  
}
.btnText{
  text-align: center;
  pointer-events: none;
}
.personInfoContainer{
  width:100%;
  height: 30px;
  text-align: center;
  font-family: "Courier New";
}
.infoContainer{
  flex-grow: 2;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.contentContainer{
  flex-grow: 2;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonContainer{
  /* width:90%; */
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.arrowButtons{
  background-color: white;
  margin:2px;
  cursor: pointer;
}
#leftButton{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid white; 
  cursor: pointer;
  margin:10px;
}
#rightButton{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  cursor: pointer;
  margin:10px;
}
#footerContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.allDotButtons{
  background-color: white;
  margin:2px;
  width:6px;
  height:6px;
  border-radius: 3px;
}
#dotContainer{
    display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 50px;
}
.invisible{
  display:none;
}
.redTest{
  background-color: red;
}
.test{
  border: 1px solid orange;
  width: 100px;
}
.isActive{
  background-color: white;
}
.isInactive{
  
  background-color: rgb(180, 180, 180);
}
@media only screen and (min-width: 961px) {
  body{
  
    font-size: 12px;
  }
  #mainContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #sliderContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:90%;
    overflow:hidden;
  }
  .slide{
    width: 33.33%;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 5px;
    margin:10px;
    font-family: "Courier";
  }
  .slideImg{
    border-radius: 70px;
    max-width:140px;
      height:auto;
  }
  .slideName{
    font-weight: bold;
    font-size: 13px;
  }
}
