body{
  display:flex;
  flex-direction: column;
  /* align-content: center;
  justify-content: center; */
}
.moduleContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(235, 235, 235);
}
.slide{

  width: 33.33%;
  height: 300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 5px;
  margin:10px;
}
.slideImg{
  border-radius: 150px;
}
#sliderContainer{
  display:flex;
  flex-direction: row;

  justify-content: center;
  width:90%;
  overflow:hidden;
}
.slideButtonContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height: 30px;
}
.infoBtn{
  margin:5px;
  cursor: pointer;
}
.slideInfoContainer{
  width:100%;
  height: 30px;
}
#buttonContainer{
  width:90%;
  display:flex;
  flex-direction: row;
 
  justify-content: center;
}
.arrowButtons{
  background-color: white;
  margin:2px;
  cursor: pointer;
}
.allDotButtons{
  background-color: white;
  margin:2px;
  width:6px;
  height:6px;
  border-radius: 3px;
}
.invisible{
  display:none;
}
.redTest{
  background-color: red;
}
.test{
  border: 1px solid orange;
  width: 100px;
}
.isActive{
  background-color: white;
}
.isInactive{
  
  background-color: grey;
}